.flex-container{
    display: flex;
    background-color:rgb(95, 102, 95);
    width: 1500px;
    height: 500px;
    border-style: solid; 
    border-width: 5px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}

.flex-item{
    display: flex;
    background-color: rgb(250, 108, 108);
    width: 100px;
    height: 100px;
    border: solid black 5px;
    padding: 20px;
    align-items: center;
    
}
#fotoslider{
    display: flex;
    flex-direction: row;

}
.foto{
    width: 200px;
    height: 150px;
    overflow: hidden;
}

img{
    max-width: 100%;
    height: auto;
}